@using BDS.ViewModel
@model List<BDS.ViewModel.BatDongSanViewModel>
@{
    ViewBag.Title = "BatDongSan";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

<h3>Dịch Vụ Mua Bán</h3>
<div class="Features-grids">
    @foreach (var item in Model)
    {
        <div class="col-md-3 Feature-grid" style="padding-bottom:20px;">
            <a href="/User/User/Detail/@item.MaBDS">
                @*<img src="@Url.Content(item.Anh)" />*@
                <img src="@(!string.IsNullOrEmpty(item.Anh) ? Url.Content(item.Anh) : "URL_for_default_image")" />
            </a>
            <p style="padding: 2px 0 1px 0">@item.TenBDS</p>
            <p style="padding: 0 0 1px 0">@item.UserName</p>
            @if (item.MaNhom == 1 || item.MaNhom == 2)
            {
                <p style="padding: 0 0 1px 0">@item.Gia VND</p>
            }
            else
            {
                <p style="padding: 0 0 1px 0">$@item.Gia/Tháng</p>
            }
            <p style="padding: 0 0 1px 0">Đang @item.TenNhom</p>

            @using (Html.BeginForm("ThemDatThue", "DatThue", new { @iMaBDS = item.MaBDS, @strURL = Request.Url.ToString() }))
            {
                <a href="/User/User/Detail/@item.MaBDS" class="btn btn-success">Chi tiết</a>
                <a href="/User/BinhLuan/Create/@item.MaBDS" style="margin-left:32px;" class="btn btn-success">Đánh giá</a>
                <a href="/User/User/LienHe/@item.MaBDS" style="margin-left:33px;" class="btn btn-success">Liên hệ</a>
                @*<input type="submit" style="cursor:pointer;margin-left:27px;" value="Mua Nhà &rsaquo;" id="btnGioHang" class="btn btn-success">*@
            }
        </div>
    }
    <div class="clearfix"></div>
</div>

